html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	flex-basis: 100%;
}

.container{
	max-width: 1200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	width: 90%;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1.125em;
}
h4 {
	font-size: .75em;
}

p {
	font-size: .875em;
	line-height: 1.3em;
}

ul {
	margin: 0;
}

/*The widths are in a percentage!*/
header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 100%;
	flex-flow: row wrap;
}

header h1 {
	margin: 0;
	padding: 1.5em 0;
	border-bottom: 3px solid #77a466;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 100%;
}
header h1 span {
	color: #77a466;
	padding-right: .3em;
}

header nav {
	display: flex;
	flex-basis: 100%;
	justify-content: center;
	align-items: center;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .875em;
	list-style: none;
	display: flex;
	flex-basis: 100%;
	justify-content: center;
	align-items: center;
	padding-right: 1.5em;
	margin: 1.5em 0;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-flow: row wrap;
}

.main-image img {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	border-top: 3px solid #77a466;
	border-bottom: 3px solid #77a466;
}

.main-title {
	margin: 1em 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-flow: row wrap;
	flex-basis: 100%;
}
.main-title h3 {
	flex-basis: 100%;
	color: #77a466;
}
.main-title p {
	flex-basis: 100%;
	font-size: 1em;
	line-height: 1.5em;
}

.section-one,
.section-two,
.section-three {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-flow: row wrap;
	flex-basis: 100%;
	border-top: 1px solid #eee;
}
.section-one h4,
.section-two h4,
.section-three h4 {
	display: flex;
	flex-basis: 100%;
	padding: 10px 0;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.3em;
}

.address {
	font-size: 1em;
	line-height: 1.3em;
}

/*The widths are in a percentage!*/
footer {
	border-top: 3px solid #eee;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 100%;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 1em;
}

@media all and (min-width:768px) {
	/* tablet styles here */

	.bottom-section {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		width: 100%;
		flex-flow: row wrap;
		border-top: 1px solid #eee;
	}

	.section-one,
	.section-two,
	.section-three {
		display: flex;
		justify-content: flex-start;
		align-items: stretch;
		flex-flow: row wrap;
		flex-basis: 30%;
		border-top: none;
	}

	.section-two {
		border-left: 1px solid #eee;
		border-right:1px solid #eee;
		padding: 0 3%;
	}

}

@media all and (min-width:1200px) {
	/* desktop styles here */

	header {
		justify-content: space-between;
	}

header nav {
		flex-basis: auto;
}

	header nav ul {
		display: flex;
		justify-content: space-between;
		flex-basis: auto;
	}

	header h1 {
		border-bottom: none;
		flex-basis: auto;
	}

}
